<div class="container">
  <div class="actions">
    <button class="btn btn-primary" (click)="list()">View Attendees</button>
    <button class="btn btn-danger" (click)="searchshow()">Search Graduand</button>
  </div>
  <div class="content">
      <div class="card">
        <h1>Total Graduands</h1>
        <span>{{tot}}</span>Students
      </div>
    <div class="card">
      <h1>Graduands Attending</h1>
      <span>{{atd}}</span>Students
    </div>
    <!-- <div class="card">
      <h1>Graduands Not Attending</h1>
      <span>{{ntd}}</span>Students
    </div> -->
    <div class="card">
      <h1>Paid</h1>
      <span>{{paid}}</span>Students
    </div>
    <div class="card">
      <h1>Allocated Gowns</h1>
      <span>{{aloc}}</span>Students
    </div>
  </div>
  <div class="search">
    <div class="card" *ngIf="showsearch">
      <h1>Search Graduand</h1>
      <form>
        <div class="form-group">
          <input type="text" name="studentno" [(ngModel)]="studentno" placeholder="Studentno" required>
          <div>
            <button type="submit" [disabled]="disable" class="btn btn-danger"   (click)="search()">{{searchtext}}</button>
          </div>
        </div>
      </form>
    </div>
    <div class="card" *ngIf="result">
      <h1>{{firstname}}   {{lastname}}</h1>
      <span id="detail">{{indexno}}</span>
      <span id="detail">{{sno}}</span>
      <span id="detail">{{gender}}</span>
      <span id="detail">Entry Year:: {{entryyear}}</span>
      <span id="detail">Graduating Year:: {{exityear}}</span>
      <span id="detail">{{mobileno}}</span>
      <span id="detail">{{programme}}</span>
      <span id="detail">{{department}}</span>
      <span id="detail">{{faculty}}</span>
      <span id="detail" class="status">{{paidstatus}}</span>
      <span id="detail" class="status">{{attendancestatus}}</span>
      <span id="detail" class="status">{{gownstate}}</span>
      <div class="form-group">
        <label>Gown Allocation</label>
        <select name="gown" [(ngModel)]="gown" (ngModelChange)="dataChanged($event)">
            <option   [value]="1" >Allocated</option>
            <option   [value]="0" >Not Allocated</option>
        </select>
        <!-- <input type="text" [(ngModel)]="gown" name="gown" placeholder="Your Active Mobile Number" required> -->
    </div>
    <div>
      <button type="submit" [disabled]="disable" class="btn btn-danger"   (click)="close()">Close</button>
      <button type="submit" [disabled]="disable" class="btn btn-danger"   (click)="save()">{{savetext}}</button>
    </div>
    </div>
  </div>
  
  <div class="list" *ngIf="showlist">
    Attendees
  </div>
</div>