.container {
    display: flex;
    flex-flow: column;
    height: 100%;
}
.content {
    margin-top: 5px;
    display: flex;
    flex-wrap: wrap;
}
.card {
    background-color: #ffffff;
    padding: 30px 20px;
    border-radius: 3px;
    flex: 0.5 200px;
    margin: 0 20px 20px 0;
}
.card span{
    font-weight: 800;
    font-size: 2rem;
    margin: 0 0 1rem 0;
}
h1 {
    color: #19153a;
    font-size: 1rem;
    margin-bottom: 2rem;
}
input {
    width: 50%;
}
.search {
    display: flex;
    justify-content: center;
}
#detail {
    font-size: 16px;
}
.status {
    color: #9b2c2c;
}
.form-group {
    display: flex;
    margin-bottom: 20px;
    flex-direction: row;
    justify-content: flex-start;
}
select {
    margin: 0;
    flex: 0.7;
    padding: 0.7rem;
    border: transparent;
    border-radius: 5px;
    background: #eff3f6;
    color: #939798;
}
select:focus {
    outline: none;
    border: 1px solid #939798;
    background: #ffffff;
}
@media all and (max-width: 600px){
    .menu {
        justify-content: center;
    }    
}

@media all and (min-width: 900px){
    li {
        display: block;
        width: auto;
        order: 1;
        padding: 0 15px;
    }
    
}