.fixed-top{
    box-shadow: 1px 0px 0px 1px rgba(12, 134, 255, 0.333);
}
.btn{
    background: rgb(41, 40, 7);
    color: #fff;
}

a.dropdown-item:hover{
color: #fff;
background: rgb(41, 40, 7);
cursor: pointer;
}
nav{
    background: rgb(41, 40, 7);
}