

<div class="login">
  <h1>Kumasi Technical University</h1>
  <p>Graduation Portal</p>
  <p>Students' Login</p>
  <div class="login-top">
    <img src="assets/img/logo.jpeg"  alt="KsTU" >
  </div>
  <form>
    <div class="form-group">
      <label> Student Number</label>
      <input type="text" [(ngModel)]="usr.studentno" name="studentno" placeholder="e.g. 051XXXXXXXXXX" required>
      <button type="submit" [disabled]="disable" class="btn btn-primary"   (click)="stdlogin()">Submit</button>
    </div>
  </form>
</div>
     