<body>
<div class="col-md-4 logincard">
   <div class="card animated tada" >
     <h3 class="card-category text-gray" align="center">KSTU Grady</h3>
<div class="card-avatar">
        <a href="#pablo">
          <img class="img" Style=" border-radius: 1000px; width: 120px;  border: 5px solid rgb(250, 250, 250);" src="assets/img/logo.jpeg" />
        </a>
      </div>
      <div class="card-body">
       
        <h4 class="card-title" align="center">Graduand Grady</h4>
      
            <form >
                <div class="form-group">
                  <label class="bmd-label-floating"> Student Number</label>
                  <input type="text" class="form-control" name="stdnum"  required>
                </div>
                <br><br>
         <button type="submit" class="btn btn-sm" style=" background:  rgb(41, 40, 7); border-radius: 30px; margin-left: 80px; margin-right:80px; width:200px;"  (click)="stdlogin()">LogIn</button>
      </form>
      </div>
   </div>
  </div>
</body>
