.container {
    display: flex;
    flex-flow: column;
    height: 100%;
}
.content {
    margin-top: 5px;
    display: flex;
    flex-wrap: wrap;
}
.card {
    background-color: #ffffff;
    padding: 30px 20px;
    border-radius: 3px;
    flex: 0.5 200px;
    margin: 0 20px 20px 0;
}
.card span{
    font-weight: 800;
    font-size: 2rem;
    margin: 0 0 1rem 0;
}
h1 {
    color: #19153a;
    font-size: 1rem;
    margin-bottom: 2rem;
}
input {
    width: 50%;
}
.search {
    display: flex;
    justify-content: center;
}
#detail {
    font-size: 16px;
}
.status {
    color: #9b2c2c;
}
@media all and (max-width: 600px){
    .menu {
        justify-content: center;
    }
    
    
    
}

@media all and (min-width: 900px){
    li {
        display: block;
        width: auto;
        order: 1;
        padding: 0 15px;
    }
    
}