<br><br><br>
<div class="content">
   <div class="container-fluid">

      <div class="row" style="padding-left: 350px; padding-right:350px;">
          <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="card card-stats">
              <div class="card-header card-header-danger card-header-icon">
                
                <br><br>
                <p class="card-category"  Style="color:#fff; font-size:20px;"  align="center">Registed Over The Entire Period</p>
                <br>
                <h3 class="card-title" style="color:rgb(199, 196, 113);" align="center">700</h3>
      
              </div>
              <div class="card-footer">
                <div class="stats">
                  <i class="material-icons">autorenew</i>Updates every 24hrs
                </div>
              </div>
            </div>
          </div>
      
      
          <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="card card-stats">
              <div class="card-header card-header-danger card-header-icon">
               
                <br><br>
                <p class="card-category"  Style="color:#fff; font-size:20px;"  align="center">Registered Today</p>
                <br>
                <h3 class="card-title" style="color:rgb(199, 196, 113);" align="center">2</h3>
                
              </div>
              <div class="card-footer">
                <div class="stats">
                  <i class="material-icons">autorenew</i>Updates every 24hrs
                </div>
              </div>
            </div>
          </div>
        </div>

     <div class="row">
       <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
         <div class="card">
           <div class="card-header">
             <h4 class="card-title ">Live Registration Update</h4>
           </div>
           <div class="card-body">
               <div class=" form-inline active-cyan active-cyan-2 md-form mt-0 search">
                   <input class="form-control" type="text" placeholder="Search by Anything"  aria-label="Search">
                 </div>
             <div class="table-responsive">
               <table class="table">
                 <thead class=" text">
                   <th>#</th>
                   <th>Student ID</th>
                   <th>Index No.</th>
                   <th>Full Name</th>
                   <th>Department</th>
                   <th>Program</th>
                   <th>Payment Status</th>
                   <th>Registration Status</th>
                   <th>Date-Time</th>
                   <th>Action</th>
                 </thead>
                 <tbody>
                     <tr >
                         <td>1</td>
                         <td>2004000053</td>
                         <td>1190000889</td>
                         <td>Percy, Grey</td>
                         <td>Computer Science</td>
                         <td>Web and mobile Application Development</td>
                         <td>Paid</td>
                         <td>Registered</td>
                         <td>22/11/2019-12:45am</td>
                         <td>
                           <button type="button" rel="tooltip" title="View"  class="btn btn-sm">
                             <i class="material-icons">edit</i>
                              View
                           </button>
                         </td>
                        </tr>
                       
                        <tr >
                            <td>2</td>
                            <td>2004000026</td>
                            <td>1190000878</td>
                            <td>hannah, brews</td>
                            <td>Business Administration</td>
                            <td>Human Resource Management</td>
                            <td>Paid</td>
                            <td>Registered</td>
                            <td>22/11/2019-12:45am</td>
                            <td>
                              <button type="button" rel="tooltip" title="View" class="btn btn-sm">
                                <i class="material-icons">edit</i>
                                 View
                              </button>
                            </td>
                           </tr>         
                 </tbody>
               </table>
             </div>
           </div>
         </div>
       </div>
     </div>

     <button type="submit" class="btn btn-round btn-right" (click)="reportgen()">Generate Report!</button>

    
 </div>
</div>



