
<div class="card">
  <h1>Mobile Money Payment Summary</h1>
  <form>
    <div class="form-group">
      <p>Graduation Fee:: <span>GHC 350.00</span></p>
      <p>Transaction Fee:: <span>3%</span></p>
      <p>Grand Total:: <span>GHC 360.50</span></p>
      <!-- <input type="number" name="amount" [ngModel]="amount" required disabled> -->
      <button type="submit" [disabled]="disable" class="btn btn-primary"   (click)="makepayment()">{{btntext}}</button>
    </div>
  </form>
</div>
       






  





