button {
    width:100%;
}
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1 {
    color: #19153a;
    font-size: 1rem;
    margin-bottom: 2rem;
}
.card {
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-group {
    align-items: flex-start;
}
p {
    font-size: 14px;
}
button {
    margin-top: 15px;
}
span {
    font-size: 18px;
    text-align: right;
}