<div class="layout-container">
    <div class="card">
        <img class="img" src="../assets/img/faces/boss.png"/>
        <div class="card-body">
            <h1>{{userdata.firstname}}   {{userdata.lastname}}</h1>
            <span>{{userdata.indexno}}</span>
            <span>{{userdata.studentno}}</span>
            <span>{{gender}}</span>
            <span>Entry Year:: {{userdata.entryyear}}</span>
            <span>Graduating Year:: {{userdata.exityear}}</span>
            <span>{{programme}}</span>
            <span>{{userdata.department}}</span>
            <span>{{userdata.faculty}}</span>
            <span class="status">{{paidstatus}}</span>
            <span class="status">{{attendancestatus}}</span>
            <!-- <div class="form-group" *ngIf="mobile === '' && paymentstatus === 2" >
                <input type="text" [(ngModel)]="tel" name="tel" placeholder="Your Active Mobile Number" required>
            </div> -->
            <div class="card-footer">
                <button type="submit" class="btn btn-primary" *ngIf="paymentstatus === 0" (click)="paymentoption()">Proceed to payment</button>
                <button type="submit" class="btn btn-primary" *ngIf="paymentstatus == 1" (click)="confirmpayment()">Confirm Payment</button>
                <button type="submit" class="btn btn-primary" *ngIf="paymentstatus == 2" >{{ confirmattendance }}</button>
                <button type="submit" class="btn btn-primary" *ngIf="paymentstatus === 2" (click)="print()">Print</button>
            </div>
        </div>
    </div>
</div>