<div class="container">
  <!-- <div class="actions">
    <button class="btn btn-primary">+ New</button>
  </div> -->
  <div class="content">
    <div class="card">
      <h1>Mobile Money</h1>
      <span>{{momo}}</span>Students
    </div>
    <div class="card">
      <h1>Cash Office</h1>
      <span>{{cash}}</span>Students
    </div>
    <div class="card">
      <h1>Bank Payments</h1>
      <span>{{bank}}</span>Students
    </div>
  </div>
  <div class="card">
    <h1>Graduation Cash Payments</h1>
    <form>
      <div class="form-group">
        <input type="text" name="studentno" [(ngModel)]="studentno" placeholder="Studentno" required>
        <input type="text" name="sagecode" [(ngModel)]="sagecode" placeholder="Sage Receipt No" required>
        <div>
          <button type="submit" [disabled]="disable" class="btn btn-danger"   (click)="search()">{{searchtext}}</button>
          <button type="submit" [disabled]="disable" class="btn btn-primary"   (click)="makepayment()">{{btntext}}</button>
        </div>
      </div>
    </form>
  </div>
</div>