<br><br><br>
<div class="content">
   <div class="container-fluid">
      <div class="row" style="padding-left: 150px; padding-right:10px;">
          <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="card card-stats">
              <div class="card-header card-header-danger card-header-icon">
                
                <br><br>
                <p class="card-category"  Style="color:#fff; font-size:20px;"  align="center"> Total Volume</p>
                <br>
                <h3 class="card-title" style="color:rgb(199, 196, 113);" align="center">GHS 55,250.00</h3>
      
              </div>
              <div class="card-footer">
                <div class="stats">
                  <i class="material-icons">autorenew</i>Updates every 24hrs
                </div>
              </div>
            </div>
          </div>
      
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
              <div class="card-header card-header-danger card-header-icon">
               
                <br><br>
                <p class="card-category"  Style="color:#fff; font-size:20px;"  align="center">Bank Payment</p>
               <br>
                <h3 class="card-title" style="color:rgb(199, 196, 113);" align="center">GHS 50,250.00</h3>
                
              </div>
              <div class="card-footer">
                <div class="stats">
                  <i class="material-icons">autorenew</i>Updates every 24hrs
                </div>
              </div>
            </div>
          </div>
      
          <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="card card-stats">
              <div class="card-header card-header-danger card-header-icon">
                
                <br><br>
                <p class="card-category"  Style="color:#fff; font-size:20px;"  align="center">Digital Channels</p>
                <br>
                <h3 class="card-title" style="color:rgb(199, 196, 113);" align="center">GHS 5,000.00</h3>
                
              </div>
              <div class="card-footer">
                <div class="stats">
                  <i class="material-icons">autorenew</i>Updates every 24hrs
                </div>
              </div>
            </div>
          </div>
        </div>
      

     <div class="row">
       <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
         <div class="card">
           <div class="card-header">
             <h4 class="card-title ">Live Payment Update</h4>
           </div>
           <div class="card-body">
               <div class=" form-inline active-cyan active-cyan-2 md-form mt-0 search">
                   <input class="form-control" type="text" placeholder="Search by Anything"  aria-label="Search">
                 </div>
             <div class="table-responsive">
               <table class="table">
                 <thead class=" text">
                   <th>#</th>
                   <th>Student ID</th>
                   <th>Index No.</th>
                   <th>Full Name</th>
                   <th>Payment ID</th>
                   <th>PaySlip No.</th>
                   <th>Bank ID</th>
                   <th>Branch ID</th>
                   <th>MOMO number</th>
                   <th>Transaction ID</th>
                   <th>Amount</th>
                   <th>Date-Time</th>
                   <th>Action</th>
                 </thead>
                 <tbody>
                     <tr>
                         <td>1</td>
                         <td>847498300</td>
                         <td>848740800</td>
                         <td>Bahubali, Andrew</td>
                         <td>kd4093vnk0948n8098</td>
                         <td></td>
                         <td></td>
                         <td></td>
                         <td>02378408767</td>
                         <td>jr-948749879872</td>
                         <td>250</td>
                         <td>23/01/2020-12:34:03</td>
                         <td>
                           <button type="button" rel="tooltip" title="View" class="btn btn-sm">
                             <i class="material-icons">edit</i>
                              View
                           </button>
                         </td>
                        </tr>

                        <tr>
                            <td>1</td>
                            <td>847498300</td>
                            <td>848740800</td>
                            <td>Kwame, Bonwere</td>
                            <td>i494m48-n985098n98</td>
                            <td>09509840-387</td>
                            <td>GH-0000023</td>
                            <td>Zenith-004</td>
                            <td></td>
                            <td></td>
                            <td>250</td>
                            <td>23/01/2020-12:34:03</td>
                            <td>
                              <button type="button" rel="tooltip" title="View" class="btn btn-sm">
                                <i class="material-icons">edit</i>
                                 View
                              </button>
                            </td>
                           </tr>        
                 </tbody>
               </table>
             </div>
           </div>
         </div>
       </div>
     </div>

     <button type="submit" class="btn btn-round btn-right" (click)="reportgen()">Generate Report!</button>

    
 </div>
</div>



