<div class="login">
  <h1>Kumasi Technical University</h1>
  <p>Graduation Portal</p>
  <p>Satff Login</p>
  <div class="login-top">
    <img src="assets/img/logo.jpeg"  alt="KsTU" >
  </div>
  <form>
    <div class="form-group">
      <input type="text"[(ngModel)]="usr.unm" name="unm"  placeholder="Username" required>  
    </div>
    <div class="form-group">
        <input type="password" [(ngModel)]="usr.pwd" name="pwd" placeholder="Password" required>
        <button type="submit" [disabled]="disable" class="btn btn-primary"   (click)="stdlogin()">Submit</button>  
    </div>
  </form>
</div>
       