.logincard{
    display: block; 
    margin-left:  auto;
    margin-right: auto; 
    margin-top: 190px;
    text-align: left;

}
.tada {
    padding: 20px;
}
.img{
    height: 120px;
    width: 300px;
    display: block; 
    margin-left:  auto;
     margin-right: auto;   
}


/* 
.btn{
    background:  rgb(41, 40, 7);
    width: 200px;
    margin-left:80px;
} */

.btn:hover{
background: #2f3308;
}

